"*":
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "0913fbd4-9d19-4b40-8e89-16df7199bc9d"
  "tree-view": {}
  welcome:
    showOnStartup: false
